@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;600;700&family=Lobster&family=Luckiest+Guy&family=Paytone+One&family=Ubuntu:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background-color: #282D35;
}

